<!DOCTYPE html>
<html>
  <head>
    <title>Satire Sports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap.css', media: 'all' %>
    <%= stylesheet_link_tag    'font-awesome.css', media: 'all' %>
    <%= stylesheet_link_tag    'superfish.css', media: 'all' %>
    <%= stylesheet_link_tag    'megafish.css', media: 'all' %>
    <%= stylesheet_link_tag    'jquery.navgoco.css', media: 'all' %>
    <%= stylesheet_link_tag    'owl.carousel.css', media: 'all' %>
    <%= stylesheet_link_tag    'owl.theme.css', media: 'all' %>
    <%= stylesheet_link_tag    'jquery.mCustomScrollbar.css', media: 'all' %>
    <%= stylesheet_link_tag    'style.css', media: 'all' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.js' %>
    <%= javascript_include_tag 'jquery.navgoco.js' %>
    <%= javascript_include_tag 'mCustomScrollbar.js' %>
    <%= javascript_include_tag 'modernizr.custom.js' %>
    <%= javascript_include_tag 'owl.carousel.js' %>
    <%= javascript_include_tag 'superfish.js' %>
    <%= javascript_include_tag 'custom.js' %>

    <meta charset="utf-8">
    <title>Satire Sports - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
